$color1: #DA7A04;
$color2: #FCE8D2;
$color3: #393939;
$color4: #222222;
$color5: #FFFBF6;
$shadow-settings: 14px 0px 9.300000190734863px 10px rgba(0, 0, 0, 0.25);
$font: 'Mulish', sans-serif;


* {
    padding: 0;
    margin: 0;
    font-family: $font;
}

body {
    background-color: $color5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    background-color: $color4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  } 
  header img {
    width: 100px;
    height: 110px;
  }

  #tab-searchbar {
    display: none;
  }
  header .hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: $color1;
  }
  header .nav-bar {
    display: flex;
  }
  header .nav-bar li {
    list-style: none;
  }
  header .nav-bar li a {
    padding: 5px 10px;
    margin: 2px 25px;
    text-decoration: none;
    color: $color1;
    font-weight: bold;
    font-size: 1.02rem;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
  }
  header .nav-bar li a:hover {
    border-bottom: 1px solid $color1;
  }
  header .icons {
    display: flex;
  }
  header .icons i {
    color: $color1;
    padding: 5px 10px;
    font-size: 1.02rem;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
  }
  header .icons i:hover {
    border-bottom: 1px solid $color1;
  }
  header .search-box {
    display: flex;
    align-items: center;
    position: relative;
  }
  header .search-box .input-search {
    width: 0;
    padding: 5px 10px;
    font-size: 1.002rem;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    transition: width 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  header .search-box .input-search::-moz-placeholder {
    color: #9f9f9f;
  }
  header .search-box .input-search::placeholder {
    color: #9f9f9f;
  }
  header .search-box .input-search.hidden {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
  header .search-box .input-search.expanded {
    width: 200px;
    opacity: 1;
    visibility: visible;
  }
  header .search-box a {
    margin-right: 10px;
  }
  
  @media (max-width: 899px) {
    header {
        display: flex;
        justify-content: space-between;
        
    }

    header img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header .hamburger-menu {
      display: block;
      margin: 10px;
      padding: 10px;
    }
    header .nav-bar {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    header .nav-bar.active {
      display: flex;
    }
    header .nav-bar li {
      margin: 10px 0;
    }
    header .nav-bar li a {
      font-size: 1rem;
    }

    header .icons i {
      text-align: center;
      margin: 0 15px;
    }
    header #tab-searchbar {
      width: 100%;
      display: block;
      margin-top: 10px;
      
      i {
        color: $color1;
        font-size: 18px;
      }
    }
  }

  h1 {
    font-size: 60px;
    color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;


    @media (max-width: 899px) {
      font-size: 45px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
    }
}

.sub-blogs {
    padding: 70px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: auto;

    h2 {
        text-align: center;
        font-size: 3rem;
        color: $color1;
    }

    p {
        text-align: center;
        font-size: 16px;
        color: $color4;
        text-align: justify;
        width: 50%;
    }
}