body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: url(bg2.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 3%;
  transition: all 0.5s ease;
  background-color: #222222;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
header img {
  width: 100px;
  height: 110px;
}
header .hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #da7a04;
}
header .nav-bar {
  display: flex;
}
header .nav-bar li {
  list-style: none;
}
header .nav-bar li a {
  padding: 5px 10px;
  margin: 2px 25px;
  text-decoration: none;
  color: #da7a04;
  font-weight: bold;
  font-size: 1.02rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}
header .nav-bar li a:hover {
  border-bottom: 1px solid #da7a04;
}
header .icons {
  display: flex;
}
header .icons i {
  color: #da7a04;
  padding: 5px 10px;
  font-size: 1.02rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}
header .icons i:hover {
  border-bottom: 1px solid #da7a04;
}
header .search-box {
  display: flex;
  align-items: center;
  position: relative;
}
header .search-box .input-search {
  width: 0;
  padding: 5px 10px;
  font-size: 1.002rem;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  transition: width 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
header .search-box .input-search::-moz-placeholder {
  color: #9f9f9f;
}
header .search-box .input-search::placeholder {
  color: #9f9f9f;
}
header .search-box .input-search.hidden {
  width: 0;
  opacity: 0;
  visibility: hidden;
}
header .search-box .input-search.expanded {
  width: 200px;
  opacity: 1;
  visibility: visible;
}
header .search-box a {
  margin-right: 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header .hamburger-menu {
    display: block;
  }
  header .nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .nav-bar.active {
    display: flex;
  }
  header .nav-bar li {
    margin: 10px 0;
  }
  header .nav-bar li a {
    font-size: 1.2rem;
  }
  header .icons {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  header .icons i {
    text-align: center;
    margin: 0 15px;
  }
  header .search-box {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
.con {
  max-width: 700px;
  margin: 100px auto 20px auto;
  padding: 20px;
  background-color: rgba(255, 226, 179, 0.414);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.con:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background: rgba(39, 39, 39, 0.8);
}
.con h2 {
  color: #A47700;
  font-size: 50px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  text-align: center;
}
.con p {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
.con .section {
  margin-bottom: 40px;
}
.con .section .about-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.con .section .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.con .section .image-section .image-con {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}
.con .section .image-section .image-con img {
  max-width: 50%;
  border-radius: 35px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.con .section .image-section .image-con p {
  margin-top: 10px;
  color: #ffffff;
}
.con #additional-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.con #additional-services ul li {
  font-size: 18px;
  color: #ffffff;
  margin: 10px 0;
}

.services {
  text-align: center;
  color: #f4f4f4;
  height: 475px;
  font-size: 100%;
  padding: 2rem;
  background-color: #fff, transparent;
}
.services h1 {
  font-size: 50px;
}

.services .banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/banner.JPG");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services .banner .book-now {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  background-color: #da7a04;
  color: #fff;
  border: none;
  cursor: pointer;
}
.services .banner .book-now:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background-color: #f4f4f4;
  color: #333;
}

.our-services {
  padding: 5rem 5rem;
  margin-top: 15px;
  margin-bottom: -50px;
  color: #f4f4f4;
  background-color: #f4f4f4, transparent;
  text-align: center;
  margin-top: -0.5px;
}
.our-services button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 50px;
  background-color: #da7a04;
  color: #fff;
  border: none;
  cursor: pointer;
}
.our-services button:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background-color: #f4f4f4;
  color: #333;
}

.our-services .service-container .servicecon1,
.servicecon2,
.servicecon3,
.servicecon4 {
  max-width: 700px;
  width: 300px;
  font-size: 25px;
  height: 300px;
  margin: 100px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.our-services .service-container .servicecon1:hover,
.servicecon2:hover,
.servicecon3:hover,
.servicecon4:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.servicecon1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/washnlube.JPG");
  background-size: cover;
}

.our-services .service-container .servicecon2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/projectx.JPG");
  background-size: cover;
}

.our-services .service-container .servicecon3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/projecty.JPG");
  background-size: cover;
}

.our-services .service-container .servicecon4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/projectz.JPG");
  background-size: cover;
}

.our-services h2 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.service-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-item {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(25% - 2rem);
  margin: 1rem;
  text-align: center;
}

.service-item p {
  font-size: 1.2rem;
  margin: 0;
}

.testimonials {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonial-item {
  margin-bottom: 1rem;
}

.cta {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
}

.cta button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.service-process .banner2 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/banner2.JPG");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-process .banner3 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/banner3.JPG");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-process .banner4 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/banner4.JPG");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-process .banner5 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:/Web Design acts/banner5.JPG");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-process {
  text-align: center;
  color: #f4f4f4;
  height: 1850px;
  padding: 2rem;
  background-color: #fff, transparent;
}
.service-process h2 {
  font-size: 50px;
}
.service-process h3 {
  font-size: 35px;
}

main {
  margin-top: -40px;
  height: 3500px;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #da7a04;
  line-height: 2;
}

.footer {
  margin-top: -200px;
  background-color: #222222;
  padding: 20px 0;
  text-align: center;
}

.footer-logo-container {
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: #da7a04;
}

.navmenu,
address {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navmenu li {
  margin-bottom: 5px;
}

.navmenu li a {
  text-decoration: none;
  color: #da7a04;
}

.navmenu li a:hover {
  text-decoration: underline;
}

.text {
  font-size: 20px;
  font-style: italic;
}

.iconstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconstyle a {
  text-decoration: none;
  margin: 0 10px;
}

.iconstyle i {
  font-size: 24px;
  color: #fff;
  transition: transform color 1s ease;
}

.iconstyle a:hover i {
  transform: scale(1.4);
  color: #da7a04;
}

.copyright {
  position: relative;
  font-size: 12px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header .icons {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  header .icons i {
    text-align: center;
    margin: 0 15px;
  }
  header .search-box {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  header .nav-bar {
    order: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}/*# sourceMappingURL=design.css.map */