@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #FFFBF6;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222222;
  padding: 23px 15%;
  transition: all 0.38s ease;
}

.logo-img {
  width: 100px;
  height: 110px;
}

span {
  color: #ff9100;
}

.navbar {
  display: flex;
}

.navbar a {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px 10px;
  margin: 2px 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.38s ease;
}

.navbar a:hover {
  border-bottom: 2px solid #DA7A04;
  color: #ff9100;
}

.h-icons {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  background: #ff9100;
  border-radius: 5rem;
}

.h-icons i {
  font-size: 22px;
  color: #fffbf6;
  margin-right: 15px;
  margin-left: 8px;
}

#menu-icon {
  font-size: 32px;
  color: #fffbf6;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.search-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

/* Style for search input and button */
#search-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#search-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #DA7A04;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1690px) {
  header {
    padding: 11px 2%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 8px 2%;
    transition: 0.2s;
  }
}
@media screen and (max-width: 880px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height: 110vh;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 40px;
    transition: all 0.38s ease;
  }
  .navbar a {
    display: block;
    margin: 1.3rem 0;
  }
  .navbar.open {
    right: 0;
  }
}
/*---------------------BODY----------------------*/
.product-details-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 150px;
  padding: 50px;
}

.product-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.thumbnail {
  width: 160px;
  height: 90px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.main-image-container {
  width: 1000px;
  height: 600px;
}

#main-image {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 2em;
  color: #222;
}

.product-info .price {
  font-size: 1.2em;
  color: #222222;
}

.specifications p {
  margin: 5px 0;
  font-size: 15px;
}

.quantity-selector {
  display: flex;
  margin-top: 20px;
}

.quantity-selector button {
  background: #fce8d2;
  border: 1px solid #d87a04;
  border-radius: 5px;
  cursor: pointer;
}

.decrement {
  width: 80px;
  height: 33px;
  border-style: solid;
  border-width: 10px 10px 10px 0px;
  border-color: transparent #d87a04 transparent transparent;
}

.increment {
  width: 80px;
  height: 33px;
  border-style: solid;
  border-width: 10px 0px 10px 10px;
  border-color: transparent transparent transparent #d87a04;
}

.quantity-selector input {
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid #d87a04;
}

.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart,
.buy-now {
  width: 300px;
  height: 70px;
  margin-top: 20px;
  background-color: #d87a04;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-to-cart {
  margin-right: 20px;
}

.add-to-cart:hover, .buy-now:hover {
  background-color: #fce8d2;
  font-weight: bold;
  color: #d87a04;
  border-radius: 15px;
  border: 2px solid;
  border-color: #d87a04;
  transform: scale(1.05);
}

.similar-products {
  padding: 20px;
  background-color: #f8f8f8;
  background-size: cover;
  margin-top: 20px;
}

.similar-products h2 {
  text-align: center;
  color: #222222;
  font-size: 44px;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 30%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card .price {
  font-size: 16px;
  color: #333;
}

.product-card .view-button {
  background-color: #d87a04;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card .view-button:hover {
  background-color: #ff9f2a;
}

.product-card:hover {
  transform: scale(1.05);
}

/*---------------------BODY----------------------*/
/*---------------------FOOTER----------------------*/
.footer {
  background-color: #222222;
  padding: 20px 0;
  text-align: center;
}

.footer-logo-container {
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 150px; /* Adjust size as needed */
  height: auto;
  display: block; /* Ensures the image is a block element */
  margin: 0 auto; /* Centers the logo horizontally */
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
}

.footer-column {
  flex: 1;
  max-width: 25%; /* Each column takes up 25% of the width */
  padding: 0 10px;
  box-sizing: border-box; /* Ensures padding is included in the width */
  position: relative; /* Required for pseudo-element */
}

.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; /* Added to stretch the line to the bottom */
  width: 1px;
  background-color: #DA7A04;
}

.navmenu, address {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navmenu li {
  margin-bottom: 5px;
}

.navmenu li a {
  text-decoration: none;
  color: #DA7A04;
}

.navmenu li a:hover {
  text-decoration: underline;
}

.text {
  font-size: 20px;
  font-style: italic;
  color: #DA7A04;
}

/* Container for icons */
.iconstyle {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Align icons horizontally */
  align-items: center; /* Center icons vertically */
}

/* Style individual icon links */
.iconstyle a {
  text-decoration: none; /* Remove underline */
  margin: 0 10px; /* Add spacing between icons */
}

/* Style icon elements */
.iconstyle i {
  font-size: 24px; /* Adjust icon size */
  color: #DA7A04; /* Default icon color */
  transition: transform color 1s ease; /* Add transition effect for zooming */
}

/* Hover effect for icon links */
.iconstyle a:hover i {
  transform: scale(1.4); /* Zoom in on hover */
  color: #FFFBF6;
}

.copyright {
  position: relative;
  font-size: 12px;
  margin-top: 20px;
  color: #DA7A04;
}

@media (max-width: 899px) {
  .footer-columns {
    flex-direction: column; /* Change to column layout for smaller screens */
  }
  .footer-column:not(:last-child)::after {
    display: none; /* Hide vertical dividing lines for smaller screens */
  }
  .footer-column {
    max-width: 100%; /* Each column takes up full width */
    padding: 10px 0; /* Adjust padding for smaller screens */
    margin-bottom: 20px; /* Add margin between columns for better spacing */
  }
  address iframe {
    width: 200px;
    height: 150px;
  }
}
/*---------------------POPUP----------------------*/
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fce8d2;
  border-color: #d87a04;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  text-align: center;
}

.popup-container button {
  position: relative;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.proceed-to-checkout, .continue-shopping {
  background-color: #d87a04;
  color: #ffffff;
  border: 1px solid #fce8d2;
  border-color: #d87a04;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.proceed-to-checkout {
  margin-right: 15px;
}

.proceed-to-checkout:hover, .continue-shopping:hover {
  background-color: #ffffff;
  font-weight: bold;
  color: #d87a04;
  border-radius: 15px;
  border-color: #d87a04;
  transform: scale(1.1);
}

.dim-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/*---------------------POPUP----------------------*//*# sourceMappingURL=product.css.map */