@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/*---------------------HEADER----------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 3%;
  font-family: "Mulish", sans-serif;
  transition: all 0.5s ease;
  background-color: #222222;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header img {
  width: 100px;
  height: 110px;
}

#tab-searchbar {
  display: none;
}

header .hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #d87a04;
}

header .nav-bar {
  display: flex;
}

header .nav-bar li {
  list-style: none;
}

header .nav-bar li a {
  padding: 5px 10px;
  margin: 2px 25px;
  text-decoration: none;
  color: #d87a04;
  font-weight: bold;
  font-size: 1.02rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

header .nav-bar li a:hover {
  border-bottom: 1px solid #d87a04;
}

header .icons {
  display: flex;
}

header .icons i {
  color: #d87a04;
  padding: 5px 10px;
  font-size: 1.02rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

header .icons i:hover {
  border-bottom: 1px solid #d87a04;
}

header .search-box {
  display: flex;
  align-items: center;
  position: relative;
}

header .search-box .input-search {
  width: 0;
  padding: 5px 10px;
  font-size: 1.002rem;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  transition: width 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

header .search-box .input-search::-moz-placeholder {
  color: #9f9f9f;
}

header .search-box .input-search::placeholder {
  color: #9f9f9f;
}

header .search-box .input-search.hidden {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .search-box .input-search.expanded {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

header .search-box a {
  margin-right: 10px;
}

@media (max-width: 899px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .hamburger-menu {
    display: block;
    margin: 10px;
    padding: 10px;
  }
  header .nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .nav-bar.active {
    display: flex;
  }
  header .nav-bar li {
    margin: 10px 0;
  }
  header .nav-bar li a {
    font-size: 1.2rem;
  }
  header .icons i {
    text-align: center;
    margin: 0 15px;
  }
  header #tab-searchbar {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  header #tab-searchbar i {
    color: #d87a04;
    font-size: 18px;
  }
}
/*---------------------HEADER----------------------*/
/*---------------------BODY----------------------*/
.product-details-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 150px;
  padding: 50px;
}

.product-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.thumbnail {
  width: 160px;
  height: 90px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.main-image-container {
  width: 1000px;
  height: 600px;
}

#main-image {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 2em;
  color: #222;
}

.product-info .price {
  font-size: 1.2em;
  color: #222222;
}

.specifications p {
  margin: 5px 0;
  font-size: 15px;
}

.quantity-selector {
  display: flex;
  margin-top: 20px;
}

.quantity-selector button {
  background: #fce8d2;
  border: 1px solid #d87a04;
  border-radius: 5px;
  cursor: pointer;
}

.decrement {
  width: 80px;
  height: 33px;
  border-style: solid;
  border-width: 10px 10px 10px 0px;
  border-color: transparent #d87a04 transparent transparent;
}

.increment {
  width: 80px;
  height: 33px;
  border-style: solid;
  border-width: 10px 0px 10px 10px;
  border-color: transparent transparent transparent #d87a04;
}

.quantity-selector input {
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid #d87a04;
}

.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart,
.buy-now {
  width: 300px;
  height: 70px;
  margin-top: 20px;
  background-color: #d87a04;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-to-cart {
  margin-right: 20px;
}

.add-to-cart:hover, .buy-now:hover {
  background-color: #fce8d2;
  font-weight: bold;
  color: #d87a04;
  border-radius: 15px;
  border: 2px solid;
  border-color: #d87a04;
  transform: scale(1.05);
}

.similar-products {
  padding: 20px;
  background-color: #f8f8f8;
  background-image: url("images/bg.avif");
  background-size: cover;
  margin-top: 20px;
}

.similar-products h2 {
  text-align: center;
  color: #222222;
  font-size: 44px;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 30%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card img {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card .price {
  font-size: 16px;
  color: #333;
}

.product-card .view-button {
  background-color: #d87a04;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card .view-button:hover {
  background-color: #ff9f2a;
}

.product-card:hover {
  transform: scale(1.05);
}

/*---------------------BODY----------------------*/
/*---------------------FOOTER----------------------*/
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  line-height: 2;
}

.footer {
  background-color: #222222;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-logo-container {
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.footer-column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: #DA7A04;
}

.navmenu, address {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navmenu li {
  margin-bottom: 5px;
}

.navmenu li a {
  text-decoration: none;
  color: #DA7A04;
}

.navmenu li a:hover {
  text-decoration: underline;
}

.text {
  font-size: 20px;
  font-style: italic;
  color: #d87a04;
}

.iconstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconstyle a {
  text-decoration: none;
  margin: 0 10px;
}

.iconstyle i {
  font-size: 24px;
  color: #fff;
  transition: transform color 1s ease;
}

.iconstyle a:hover i {
  transform: scale(1.4);
  color: #DA7A04;
}

.copyright {
  position: relative;
  font-size: 12px;
  margin-top: 20px;
  color: #d87a04;
}

/*---------------------FOOTER----------------------*/
/*---------------------POPUP----------------------*/
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fce8d2;
  border-color: #d87a04;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  text-align: center;
}

.popup-container button {
  position: relative;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.proceed-to-checkout, .continue-shopping {
  background-color: #d87a04;
  color: #ffffff;
  border: 1px solid #fce8d2;
  border-color: #d87a04;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.proceed-to-checkout {
  margin-right: 15px;
}

.proceed-to-checkout:hover, .continue-shopping:hover {
  background-color: #ffffff;
  font-weight: bold;
  color: #d87a04;
  border-radius: 15px;
  border-color: #d87a04;
  transform: scale(1.1);
}

.dim-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/*---------------------POPUP----------------------*//*# sourceMappingURL=product.css.map */