$color1: #DA7A04;
$color2: #FCE8D2;
$color3: #393939;
$color4: #222222;
$color5: #FFFBF6;
$shadow-settings: 14px 0px 9.300000190734863px 10px rgba(0, 0, 0, 0.25);
$font: 'Mulish', sans-serif;


* {
    padding: 0;
    margin: 0;
    font-family: $font;
}


//.........................HEADER STYLING...................................//

// setting up the header background colors, padding and layout
header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    transition: all .50s ease;
    background-color: $color4;
    box-shadow: $shadow-settings;

    // setting up the logo size in header
    img {
    width: 110px;
    height: 120px;
    }

    // setting up the layout for the nav menu
    .nav-bar {
        display: flex;
    }

    // setting up the layout for the nav menu and color
    .nav-bar a {
        padding: 5px 10px;
        margin: 2px 25px;
        text-decoration: none;
        color: $color1;
        font-weight: bold;
        font-size: 1.02rem;
        border-bottom: 2px solid transparent;
        transition: all .50s ease;
    }

    // setting the list style of nav menu to none, to hide the bullet points
    .nav-bar li {
        list-style: none;
    }

    // setting up the hovering effect in nav menu
    .nav-bar a:hover, .icons i:hover {
        border-bottom: 1px solid $color1;
    }

    // setting up the layout for the icons
    .icons {
        display: flex;
    }

    .icons i {
        color: $color1;
        padding: 5px 10px;
        font-size: 1.02rem;
        border-bottom: 2px solid transparent;
        transition: all .50s ease;
    }   

    .search-box {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .input-search {
        width: 200px;
        font-size: 1.002rem;
        border-style: none;
        border-radius: 10px;
        text-align: center;
        outline: none;
        transition: all .5s ease-in-out;
    }

    .input-search::placeholder {
        color: $color1;
    }

    .search-box:focus ~ .input-search {
        width: 200px;
        transition: all 500ms;
    }

    .input-search:focus {
        width: 200px;
        transition: all 500ms;
    }
}


// setting up the hero section
.slideshow {
    overflow: hidden;
}

.slideshow .slides {
    position: relative;
    width: 100%;
    margin: 0; 
    left: 0;
    animation: 20s slider infinite;
}

// setting the background images for all slides
.slide1 {
    background-image: url(/Media/salesherobanner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.slide2 {
    background-image: url(/Media/slide1banner.png);
    background-size: contain;
}

.slide3 {
    background-image: url(/Media/bikepartsdesktopbanner.png);
    background-size: contain;
}

.slide4 {
    background-image: url(/Media/bikeaccessoriesdesktopbanner.png);
    background-size: contain;
}

.slide5 {
    background-image: url(/Media/bikerentalsdesktopbanner.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.slides h4 {
    font-size: 25px;
    color: $color5;
    margin: 0px 120px;
    margin-top: 200px;
    padding: 10px;
}

.slides h1 {
    font-size: 70px;
    color: $color5;
    margin: 0px 120px;
    padding: 10px;
}

button {
    background-color: $color1;
    border-radius: 30px;
    padding: 20px;
    color: $color5;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin: 50px 130px;
}

button:hover {
    background-color: $color5;
    color: $color1;
    cursor: pointer;
    border: $color1 1px solid;
    transition: all 0.5s ease;
}

.shopcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
    padding: 10px 15px;
}

.bikeshop, .bikerentals, .bikeservices {
    width: 400px;
    height: 400px;
    background-color: #FCE8D2;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: $shadow-settings;
}

.bikeshop {
    background-image: url(/Media/bikesalesbannerimg.jpg);
    background-size: contain;
}

.bikerentals {
    background-image: url(/Media/bikesrentalbanner.jpg);
    background-size: contain;
}

.bikeservices {
    background-image: url(/Media/bikeservicesbannerimg.png);
    background-size: contain;
}

